h1{
	 font-family: 'Golos Text', sans-serif;
	 font-weight: 600;
	 margin:0px 0px;
	 font-size: calc(1.5rem + 125 * (100vw - 320px) / 880)
}

.first {
	padding: 10px;
}
div {
	font-family: 'Golos Text', sans-serif;
	font-weight: 400;
}

p{
	font-family: 'Golos Text', sans-serif;
	font-weight: 400;
}
.beginning{
	margin: 30px 10px;
	font-size: 25px;

}

.footer{
	padding-left: 30px;
	font-family: 'Golos Text', sans-serif;
	font-weight: 400;
}

.work1, .work2, .work3, .work4 {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    height: 500px;

    }

.container1, .container2, .container3, .container4 {
	display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    flex-basis: 0;
    flex-grow: 1;
    padding-left:30px;
}


img{
	width: 700px; 
	height: 500px;
	padding:0px;

}

button {
	width: 150px;
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #000000;
	color: #fff;
	padding: 8px 16px;
	font-size: 16px;
    margin-left: 30px;
}
.main_text{
	padding:0px;
	font-size: 20px;
}